<!DOCTYPE html>
<html>
    <head>
        <title>1236595</title>
        <link rel= "stylesheet" href="css/styles.css">
        <script src ="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>

    </head>
    <body>
        <div id="app">
            <header>
                <h1>Gas Level Monitor Interface - Krupali Patel</h1>
            </header>
            <main>
                <p>Current Gas Level:</p>
                <input type="number" v-model=" gasLevelValue"  min="0" max="100">
                <input type="range" v-model=" gasLevelValue"  min="0" max="100">

                <div v-for="gasLevel in gasLevels"
                    :key="gasLevel.id"
                    :class="['gasLevelIndicator', gasLevel.color, {'unactiveGasStatus': !activeGasLevel(gasLevel) }]">
                    {{gasLevel.name }}
                </div>
            </main>
            <footer>
                {{studentName}}
            </footer>
        </div>
        <script src="scripts/app.js"></script>
    </body>
</html>